@import 'mixins';

.spring-promo{
    width: 100%;
    @include flex-center(row, 0, center, center);

    .spring-promo-container{
        width: 90vw;
        @include flex-center(row, 10%, center, center);
        flex-wrap: wrap;
    
        .spring-promo-img-wrapper,
        .spring-promo-content{
            width: 100%;
            max-width: 500px;

            img{
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }
        }

        .spring-promo-content{
            @include flex-center(column, 20px, center, center);
        }
        
        h5{
            @include text-style(rgba(11, 57, 84, 1), 12px, 400);
        }
    
        h3{
            @include text-style(rgba(11, 57, 84, 1), 12px, 400);
        }
    
        h4{
            @include text-style(rgba(92, 103, 109, 1), 16px, 400);
        }
    
        button{
            background-color: rgba(255, 177, 40, 1);
            height: 44px;
            width: 190px;
            border-radius: 80px;
            border: none;
            padding: 15px, 35px;
            @include text-style(rgba(255, 255, 255, 1), 14px, 600);
            cursor: pointer;
    
            &:hover{
                background-color:darken(rgba(11, 57, 84, 1), 5%);
            }
        }
    }
}




  