@import 'mixins';

.stats-container {
  margin-top: 50px;
  width: 100%;
  @include flex-center(row, 0, center, center);
  margin-bottom: 50px;

  .stats-left {
    width: 90vw;
    @include flex-center(row, 2rem, space-around, center);
    flex-wrap: wrap;

    .intro {
      @include flex-center(row, 0, center, flex-start);

      h5 {
        @include text-style(rgba(11, 57, 84, 1), 12px, 600);
      }

      h2 {
        @include text-style(rgba(11, 57, 84, 1), 48px, 700);
        &.counter {
          @include text-style(rgba(255, 177, 40, 1), 48px, 600);
        }
      }
    }

    .counters {
      @include flex-center(row, 2rem, center, center);
      flex-wrap: wrap;

      .counter-box {
        @include flex-center(row, 1.5rem, center, center);

        h3 {
          &.counter {
            @include text-style(rgba(11, 57, 84, 1), 40px, bold);
          }

          &:last-child {
            @include text-style(rgba(92, 103, 109, 1), 20px, bold);
          }
        }
      }
      .border, .border2 {
        width: 30px;
        height: 10px;
        @include box-style($bg: #ffb933, $radius: 30px);
      }
    }
  }
}

.cards-section {
  width: 100%;
  display: flex;
  justify-content: center;

  .stats-menu {
    @include flex-center(row, 2rem, space-around, center);
    flex-wrap: wrap;
    width: 90vw;

    .item {
      @include flex-center(column, 0, center, center);
      @include box-style(1rem, #f6f6f6, 12px);
      min-width: 120px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #0b3954;
        @include flex-center(column, 0.5rem, center, center);

        img {
          object-fit: contain;
        }
      }
      span {
        font-weight: 600;
        font-size: 1rem;
      }

      &:hover {
        background-color: white;
      }
    }
  }
}
