@import 'mixins';
@import 'variables';
@import 'header';
@import 'heroSection';
@import 'statsSection';
@import 'photoSection';
@import 'fourthSection';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


body {
  overflow-x: hidden,
  // font-family: "Roboto";
}


section.darken{
  background-color: gray;
}
